body {
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.AYUj3aj7ilwrZD5rcuupNgHaEo&pid=Api&dpr=1");
  background-size: cover;
}

h1 {
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.j1fHUK4uQqj_5mhgqY4fkwHaDd&pid=Api&dpr=1");
}

p {
  background-color: red;
}
