* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}

p {
  color: rgb(192, 173, 173);
  text-decoration: none;
  text-indent: 100px;
  letter-spacing: 5px;
  line-height: -0.9px;
}
.container {
  width: 50%;
  margin: 0 auto;
}
