a {
  text-decoration: none;
  background-color: grey;
  padding: 14px 25px;
  text-align: center;
}

/*unvisited link*/
a:link {
  color: yellow;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
  background-color: rgb(194, 184, 184);
}

a:active {
  color: green;
}
