a {
  text-decoration: none;
  color: black;
  background-color: grey;
  padding: 14px 25px;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
  background-color: rgb(219, 200, 200);
}

a:active {
  color: red;
}
