* {
  margin: 0;
  padding: 0;
}
.leftm {
  border: solid 5px blue;
  margin-left: 50px;
}

.leftp {
  border: solid 5px blue;
  padding-left: 50px;
}

.movem {
  border: solid 5px green;
  margin: 50px;
}
.movep {
  border: solid 5px red;
  padding: 50px;
}
