ul {
  list-style-type: lower-alpha;
}

#outside {
  list-style-position: outside;
  width: 25%;
}

#inside {
  list-style-position: inside;
  width: 25%;
}
#gif {
  list-style: square inside url("sqpurple.gif");
}
