body {
  background-color: rgb(236, 219, 219);
}
a {
  text-decoration: none;
}
h1 {
  color: rgb(160, 140, 140);
}

.bleach {
  color: rgb(36, 36, 102);
}

.bcs {
  color: rgb(201, 201, 29);
}

.yyh {
  color: rgb(17, 56, 17);
}
