table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center;
  padding: 20px 40px;
  background-color: rgb(218, 209, 209);
  color: rgb(122, 90, 90);
}

td {
  text-align: left;
  padding: 10px 50px 10px 5px;
}

td:hover {
  background-color: rgb(182, 178, 178);
}
