table,
th,
td {
  border: solid 1px black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  padding: 20px 40px;
  background-color: grey;
  font-size: 20px;
}

td {
  text-align: center;
  padding: 20px 0;
}

td:hover {
  background-color: rgb(206, 191, 191);
}
