body {
  color: yellow;
  background-image: url("https://mondrian.mashable.com/uploads%252Fcard%252Fimage%252F498047%252F377da321-b088-4497-8d52-4fad8bbf47ca.jpg%252F950x534__filters%253Aquality%252890%2529.jpg?signature=qWsvJEjk_3WX87dN-MKQB41gBVI=&source=https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com");
  background-size: cover;
}
