* {
  padding: 0;
  margin: 0;
}

.container {
  width: 50%;
  margin: 50px auto;
}
ul {
  background-color: rgb(197, 155, 155);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(155, 155, 202);
}
.dropdown:hover a {
  background-color: rgb(148, 148, 190);
}
.dropdown a {
  display: block;
}

.display:hover .dropdown {
  display: block;
}
ul li:hover {
  background-color: rgb(177, 136, 136);
}

#contactfloat {
  float: right;
}

@media only screen and (max-width: 600px) {
  ul li {
    display: block;
  }
  #contactfloat {
    float: none;
  }
  .dropdown {
    position: static;
  }
  ul {
    position: static;
  }
  .container {
    margin: 0 auto;
    width: 80%;
  }
}
