* {
  padding: 0;
  margin: 0;
}

.container {
  width: 50%;
  margin: 50px auto;
}
ul {
  background-color: rgb(201, 171, 171);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

ul li:hover {
  background-color: rgb(189, 157, 157);
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(155, 155, 196);
  width: 150px;
}

.dropdown a {
  display: block;
}

.dropdown a:hover {
  background-color: rgb(139, 139, 180);
}

.display:hover .dropdown {
  display: block;
}
#contactfloat {
  float: right;
}

@media only screen and (max-width: 600px) {
  ul li {
    display: block;
    text-align: center;
  }

  #contactfloat {
    float: none;
  }

  .dropdown {
    position: static;
    width: 100%;
  }

  ul {
    position: static;
  }
  .container {
    margin: 0 auto;
    width: 80%;
  }
}
