.box1 {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 10px;
  position: static;
  display: inline-block;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 10px;
  position: relative;
  display: inline-block;
  right: 40px;
  bottom: 30px;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: purple;
  margin: 10px;
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0px;
}

.box4 {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 10px;
  position: static;
  display: block;
}

.box5 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  margin: 10px;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
}

.box6 {
  width: 200px;
  height: 200px;
  background-color: black;
  margin: 10px;
  position: sticky;
  display: block;
  top: 50%;
  left: 50%;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
}

img {
  width: 400px;
  height: 400px;
  z-index: 1;
}
p {
  z-index: 2;

  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
